---
jenkins:
  systemMessage: |
    <div style="background-color: #dddddd;padding: 0.75em;border: 1px solid black;border-radius: 5px">
      <span style="font-size: 1.75em;font-weight: bold">Automated Jenkins Server</span><br/><br/>
      This Jenkins server is configured automatically by Jenkins Configuration as Code Plugin and Ansible. <b>NO NOT</b> make manual changes.<br/><br/>
    </div>
  labelString: "master"
  markupFormatter:
    rawHtml:
      disableSyntaxHighlighting: false
  securityRealm:
    local:
      allowsSignup: false
  authorizationStrategy:
    roleBased:
      roles:
        global:
          - name: "admin"
            description: "Jenkins administrators"
            permissions:
              - "Overall/Administer"
            assignments:
              - "admin"
          - name: "developer"
            description: "Jenkins developers"
            permissions:
              - "Job/Build"
              - "Job/Cancel"
              - "Job/Workspace"
            assignments:
              - "developer"
          - name: "readonly"
            description: "Read-only users"
            permissions:
              - "Overall/Read"
              - "Job/Read"
            assignments:
              - "authenticated"
              - "anonymous"
  remotingSecurity:
    enabled: true
  slaveAgentPort: 50000
  agentProtocols:
    - "JNLP4-connect"
  disableRememberMe: false
  mode: EXCLUSIVE
  numExecutors: 2
  primaryView:
    all:
      name: "all"
  quietPeriod: 5
  scmCheckoutRetryCount: 0
  globalNodeProperties:
    - envVars:
        env:
          - key: FOO
            value: BAR
          - key: GIT_SSL_NO_VERIFY
            value: true
{% if groups['nexus'] > 0 %}
{% for host in groups['nexus'] %}
{% if hostvars[host]['ansible_bios_version'] == "VirtualBox" %}
          - key: NEXUS_URL
            value: "http://{{ hostvars[host]['ansible_host'] }}:8081"
{% else %}
          - key: NEXUS_URL
            value: "http://{{ hostvars[host]['ansible_default_ipv4']['address'] }}:8081"
{% endif %}
{% endfor %}
{% endif %}
{% if groups['gitlab'] > 0 %}
{% for host in groups['gitlab'] %}
          - key: GITLAB_URL
            value: "{{ hostvars[host]['gitlab_external_url'] }}"
{% endfor %}
{% endif %}
{% if groups['jenkins-slaves'] > 0 %}
  nodes:
{% for host in groups['jenkins-slaves'] %}
  - permanent:
      labelString: "{{ hostvars[host]['jenkins_casc_node_labels'] }}"
      launcher:
        sSHLauncher:
          credentialsId: "insecure-key"
{% if hostvars[host]['ansible_bios_version'] == "VirtualBox" %}
          host: "{{ hostvars[host]['ansible_host'] }}"
{% else %}
          host: "{{ hostvars[host]['ansible_default_ipv4']['address'] }}"
{% endif %}
          launchTimeoutSeconds: 210
          maxNumRetries: 10
          port: 22
          retryWaitTime: 15
          sshHostKeyVerificationStrategy: nonVerifyingKeyVerificationStrategy
{% if hostvars[host]['ansible_bios_version'] == "VirtualBox" %}
      name: "{{ hostvars[host]['ansible_host'] }}"
{% else %}
      name: "{{ hostvars[host]['ansible_default_ipv4']['address'] }}"
{% endif %}
      nodeDescription: "Linux Build Server"
      nodeProperties:
      - envVars:
          env:
          - key: "DARTH"
            value: "VADER"
          - key: GIT_SSL_NO_VERIFY
            value: true
{% if groups['nexus'] > 0 %}
{% for host in groups['nexus'] %}
{% if hostvars[host]['ansible_bios_version'] == "VirtualBox" %}
          - key: NEXUS_URL
            value: "http://{{ hostvars[host]['ansible_host'] }}:8081"
{% else %}
          - key: NEXUS_URL
            value: "http://{{ hostvars[host]['ansible_default_ipv4']['address'] }}:8081"
{% endif %}
{% endfor %}
{% endif %}
      remoteFS: "/home/{{ jenkins_casc_ssh_user }}"
{% endfor %}
{% endif %}
credentials:
  system:
    domainCredentials:
    - credentials:
      - basicSSHUserPrivateKey:
          id: gitlab-root-private-key
          scope: GLOBAL
          description: SSH Private Key for Gitlab root user
          username: root
          privateKeySource:
            directEntry:
              privateKey: |
                {{ gitlab_root_private_key_decrypted | indent(20) }}
      - basicSSHUserPrivateKey:
          id: insecure-key
          scope: SYSTEM
          description: SSH Private Key for connecting to slave nodes
          username: {{ jenkins_casc_ssh_user }}
          privateKeySource:
            directEntry:
              privateKey: |
                {{ jenkins_casc_slave_private_key_decrypted | indent(20) }}
security:
  remotingCLI:
    enabled: false
unclassified:
  location:
    url: "{{ jenkins_casc_jenkins_url }}"
    adminAddress: "Jenkins <no-reply@example.org>"
jobs:
  - url: https://raw.githubusercontent.com/mattandes/auto-cicd-infra-example/master/jenkins/jobs/seed-job-def.groovy
